body{
    background-color: #ffffff ;
    margin:0;
    padding: 0;
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#000000;
}
main{
    margin-top: 60px;
}
header{
    width: 100%;
}
nav{
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: 10;
}
a{
    background-color: #87d7de;
    padding:8px;
    border-radius: 10px;
    text-decoration: none;
}
a:hover{
    background-color: #a1b8f6;
}
a:visited{
    color:#000000;
}
ol{
    width: 338px;
    list-style-type: number;
    text-align: left;
    margin-inline: 20px;
    justify-content: left;
    padding:20px;
    border-radius: 5px;
}
ol li{
    margin: 5px 0  5px 10px;
}
ul{
    display: flex;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    margin: auto;
    padding: 0;
}
h1{
    font-size: 35px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}
h2{
    font-size: 25px;
    font-weight: bold;
    margin: 30px 0 10px 30px;
}
h3{
    font-size: 18px;
    font-weight: bold;
    margin: 29px 0 8px 29px;
}
h4{
    font-weight: bold;
    margin: 29px 0 8px 29px;
}
img{
    width: 362px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px  #b8b5a8;
}
video{
    grid-column: 1/-1;
    grid-row: 1;
    width: 590px;
    height: 400px;
    box-shadow: 3px 3px 8px #b8b5a8;
}
nav li{
    display: inline-block;
    margin: 10px;
}
li a{
    display: block;
}
footer{
    margin-top: 30px;
    text-align: center;
    height: 90px;
    background-color: #e6f9fe;
    box-shadow: -3px 3px 8px #b8b5a8;
}
footer a{
    margin-top: 10px;
}
footer p{
    padding-top: 50px;
}
.mainContent{
    margin-right: 29px;
    float: right;
    font-size: 10px;
}
.header{
    width: 100%;
    background-color: #e6f9fe;
    padding-bottom: 10px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 8px  #b8b5a8;
}
.active{
    background-color: #eaf19b;
    border: solid 3px #444122;
}
.intro{
    display: grid;
    grid-gap: 10px;
    margin-left: 29px;
    margin-right: 29px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
.content{
    width: 342px;
    grid-row: 2;
    margin-inline: 29px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px  #b8b5a8;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: stretch;
    margin: 10px 29px;
}
.gallery img{
    width: 170px;;
    height: 200px;
}
.gallery img:first-child{
    grid-column: 1/-1;
    width: 362px;
    height: 400px;
}
.likes{
    border: solid 3px #305866;
    border-radius: 5px;
    margin-inline: 29px;
    margin-top: 13px;
    margin-bottom: 13px;
}
.likes li{
    display: inline-block;
    background-color: #87d7de;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.food{
    display: block;
    margin:5px auto;
    height: 300px;
}
.ing_box{
    display: grid;
    align-items: center;
    margin-inline: 29px;;
    grid-template-columns: 1fr 1fr;
    border: solid 3px #305866;
    border-radius: 5px;
}
.ing_box ul{
    display: block;
    text-align: left;
    margin: 10px auto;
}
.ing_box li{
    display: block;
    margin-bottom: 5px;
}
.background{
    background-color: #e6f9fe;
    margin: auto;
    box-shadow: 3px 3px 8px  #b8b5a8;
}
.tips{
    width:362px;
    border: solid 3px #305866;
    border-radius: 5px;
    margin-inline: 29px;
}
.tips ul{
    display: inline;
    text-align: left;
    list-style-type: square;
    padding: 10px
}
.tips li{
    margin-inline: 30px;
    margin-top: 5px;
}
.home_grid{
    display: grid;
    grid-gap: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
.home_grid img{
    width: 174px;
    height: 144px;
}
.p_container{
    width: 152px;
    height: 142px;
    padding-inline: 10px;
    margin: 0;
    border-radius: 5px;
}
.p_container p{
    width: 160px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.about_img{
    width: 381px;
    display: grid;
    grid-template-columns: 190px 190px;
    grid-gap: 10px;
    align-items: stretch;
    margin: 10px 29px;
}
.about_img img{
    width: 165px;
    height: 200px;
}
.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  .skip:focus {
    position: static;
    width: auto;
    height: auto;
  }

@media screen and (min-width: 600px) {
    body{
        font-size: 18px;
    }
    .home_grid{
        justify-content: center;
        place-items: center;
        margin-bottom: 40px;
    }
    .home_grid img{
        width: 230px;
        height: 200px;
    }
    .p_container{
        width: 190px;
        height: 200px;
        place-items: center;
        padding-inline: 20px ;
    }
    .p_container p{
        width: 200px;
    }
    .content{
        width: 570px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-inline: auto;
    }
    .content p{
        padding-left: 20px;
    }
    h1{
        text-align: center;
        font-size: 45px;
    }
    h2{
        text-align: center;
        font-size: 30px;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    h3{
        text-align: center;
        font-size: 24px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .about_img{
        margin-top: 30px;
        margin-inline: auto;
        grid-template-columns: 270px 270px;
        justify-content:center;
        place-items: center;

    }
    .about_img img{
        width: 250px;
        height: 300px;
    }
    nav li{
        margin: 30px;
    }
    a{
        padding-inline:20px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .intro{
        justify-items: center;
        row-gap: 20px;
    }
    .intro div{
        grid-column: 1/-1;
    }
    .intro div img{
        width: 500px;
        height: 550px;
    }
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        align-items: stretch;
        margin: 10px 29px;
    }
    .gallery img{
        grid-column: span 1;
        width: 183.33px;
        height: 300px;
    }
    .gallery img:first-child{
        grid-column: span 1;
        width: 183.33px;
        height: 300px;
    }
    .gallery img:active{
        width: 250px;
    }
    .tips{
        width: 585px;
        border: solid 3px #305866;
        border-radius: 5px;
        margin-inline: 29px;
    }
    .size{
        width: 550px;
    }
}



